#dextercom {
  padding: 7px 0;
  background: #EB343B;
  text-align: center;
  text-transform: uppercase; }
  #dextercom a {
    color: #fff; }
    #dextercom a:hover {
      color: #fff;
      text-decoration: none; }

.menu p:after {
  opacity: 0; }

section.header {
  height: auto;
  width: 100%; }

.stamp {
  width: 194px;
  margin: 15px auto 0; }
  .stamp img {
    width: 100%; }

#fifty {
  padding: 80px 0 40px;
  color: white;
  text-align: center;
  text-transform: uppercase;
  font-size: 24px;
  background: url(../img/company_in_fig-bg.jpg) no-repeat center;
  background-size: cover; }

@media (min-width: 48em) {
  #fifty {
    padding: 80px 0 80px;
    font-size: 30px;
    background: url(../img/company_in_fig-bg.jpg) no-repeat center; }
  section.header {
    height: 860px;
    width: 100%; }
  .text-header {
    padding-top: 50px; }
  .main-video {
    max-width: 400px;
    height: 190px; }
  .contact-number {
    font-size: 20px; }
  h3.title {
    padding-bottom: 31px; } }

@media (min-width: 62em) {
  .menu p:after {
    opacity: 1;
    content: url(../img/dot.png);
    position: absolute;
    padding-left: 50px; }
  .contact-number {
    font-size: 22px; } }

@media (min-width: 75em) {
  section.header {
    height: 700px;
    width: 100%; }
  .text-header {
    padding-top: 50px; }
  .main-video {
    max-width: 490px;
    height: 240px; }
  .stamp {
    margin: 0;
    position: absolute;
    top: 320px;
    left: 550px;
    width: 194px; }
    .stamp img {
      width: 100%; } }

/*==========  Desktop First  ==========*/
/* Large Devices, Wide Screens */
@media only screen and (max-width: 1200px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /**/ }

/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /**/ }

/*==========  Mobile First  ==========*/
/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /**/ }

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /**/ }

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /**/ }

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /**/ }

/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /**/ }

@media screen and (max-width: 425px){
    	section.save {
    		background: url(../img/save-bg-ver.jpg)no-repeat center bottom;
    		padding: 20px 0;
    	}}
